.hero {
  padding: 87px 0 141px;
  @include mini-desktop {
    padding: 77px 0 121px;
  }
  @include mobile {
    min-height: calc(100dvh - 109px);
  }

  &__container {
    @include flex-justify-between;
    align-items: flex-end;

    @include mini-desktop {
      gap: 50px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__left {
    max-width: 617px;
  }

  &__title {
    font-size: 80px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3px;
    color: var(--neutral-color-100);
    margin-bottom: 114px;

    @include mini-desktop {
      margin-bottom: 74px;
    }
    @include tablet {
      margin-bottom: 44px;
      font-size: 60px;
    }

    @include mobile {
      margin-bottom: 38px;
      font-size: 48px;
    }

    @include small-mobile {
      margin-bottom: 30px;
      font-size: 38px;
    }
  }

  &__subtitle {
    margin-bottom: 69px;
  }

  &__form {
    @include flex-align-center;
    gap: 16px;

    @include mini-desktop {
      justify-content: center;
    }

    @include small-mobile {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__input {
    border-bottom: 1px solid var(--neutral-color-40);
    padding-bottom: 23px;
    min-width: 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-color-100);
    background-color: transparent;

    @include small-tablet {
      padding-bottom: 13px;
    }

    @include mobile {
      min-width: 100px;
      max-width: 180px;
    }
  }

  &__btn {
    padding: 16px 43px;
    background-color: var(--neutral-color-100);
    color: var(--neutral-color-10);
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.9;
    }

    @include small-tablet {
        padding: 12px 32px;
      }
  }

  &__right {
    position: relative;
    margin-right: 20px;
    @include mini-desktop {
        display: none;
      }
  }

  &__sales {
    padding: 20px;
    margin-bottom: 28px;
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0 #5960871f;
    background: #ffffff;

    @include small-desktop {
        max-width: 320px;
      }
  
      &-img {
        @include small-desktop {
          max-width: 280px;
        }
      }
    &-title {
      color: #1d1e25;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -0.5px;
      text-align: left;
    }
  }

  &__customer {
    position: absolute;
    right: -120px;
    top: -50px;
    padding: 16px 18px;
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0 #2d33511f;
    background: #ffffff;

    @include small-desktop {
        top: -140px;
        right: -30px;
      }

    &-title {
      color: #1d1e25;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -0.5px;
      text-align: left;
      margin-bottom: 12px;
    }
  }

  &__stats {
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0 #2d33511f;
    background: #000000;
    padding: 20px 28px;
    text-align: left;

    &-head {
      &-th {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #5c616f;
      }
    }
    &-body {
      &-td {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #fff;

        &:nth-child(1) {
          padding-right: 80px;
        }
      }

      &-num {
        display: inline-block;
        margin-right: 3px;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;

        &--green {
          color: #60d39c;

          &::before {
            background: url('/assets/icons/green-arrow-icon.svg') no-repeat;
          }
        }

        &--red {
          color: #e35454;

          &::before {
            background: url('/assets/icons/red-arrow-icon.svg') no-repeat;
          }
        }

        &--green::before,
        &--red::before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
        }
      }

      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        letter-spacing: -0.04em;
        color: #5c616e;
      }
    }
  }
}
